<!DOCTYPE html>
<html>
    <head>
        <script src="/angular.min.js"></script>
        <link <link rel="stylesheet" type="text/css" href="style.css">
    </head>

<body>

<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    $scope.products = ["Crackers ","Milk ", "Bread ", "Cheese "];
    $scope.addItem = function () {
            $scope.products.push($scope.addMe);
    }
});
</script>
<div>
    <h1>MY SHOPPING LIST</h1>
    <h2>List</h2>

</div>
<div ng-app="myShoppingList" ng-controller="myCtrl">
  <ul>
    <li ng-repeat="x in products">{{x}}</li>
  </ul>
  <input ng-model="addMe">
  <button ng-click="addItem()">Add Item</button>

</div>
</body>
</html>
